/* Zerando o CSS e Definindo Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif, Dancing Script;
}

/* Determinando a cor do fundo na tag body e dando responsividade ao mesmo.*/
body {
    background: #474044;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tag Container que comporta os itens do site */
main.container {
    background: #293132;
    max-width: 350px;
    max-height: 100vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Botão */
.button-37 {

  font-family: Arial;
  height: 40px;
  width: 80px;
  margin-top: 4px;
  margin-left: 102.9px;
  align-items: center;
  background: #547AA5;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  color: #ffffff;
  cursor: pointer;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  font-style: bold;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Animação do Botão */
.button-37:hover {

  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
  color: rgb(16, 226, 191);
}

/* Configurações e estilização do Input */
.baile input{
    font-family: Arial;
    text-align: center;
    background-color: #212121;
    color: #547AA5;
    padding: 12px 30px 12px 30px;
    margin: 22px 27.5px;
    border: 2px solid #547AA5;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0,.1) 0 2px 4
  }

/* Estilização do H1 */
.baile h1{
    font-family: Dancing Script;
    padding: 2px 79.5px 10px;
    font-size: 50px;
    letter-spacing: -1.2px;
    word-spacing: -2.2px;
    background: fixed;
    color: #547AA5;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* Animação ao passar o mouse em cima do h1*/
.baile h1:hover{
    font-family: Dancing Script;
    color: #ffffff;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    text-decoration: none;
    transform: translateY(-2px);
}

/* Li configs */
:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #547AA5;
  --darkgray: #212121;
}

select {
  /* Reset Select */
  font-family: Arial;
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 3.9em;
  color: #547AA5;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  font-family: Arial;
  display: none;
}
/* Custom Select wrapper */
.select {
  font-family: Arial;
  position: relative;
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 63px;
  width: 10em;
  height: 2.3em;
  border-radius: .22em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  font-family: Arial;
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8em;
  background-color: #547AA5;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  font-family: Arial;
  color: #ffffff;
}

/* Other styles*/
.select body {
  font-family: Arial;
  color: #fff;
  background: var(--background-gradient);
}
.select h1 {
  font-family: Arial;
  margin: 0 0 0.22em;
}
.select a {
  font-family: Arial;
  font-weight: bold;
  color: var(--gray);
  text-decoration: none;
  padding: .10em;
  border-radius: .25em;
  background: white;
}

/* placeholder do input - troca de cor*/
#recebe::placeholder {
  color: #547AA5;
}

/* Dev by - estilização */
.container #p21 {
  font-family: Arial;
  position: absolute;
  cursor: pointer;
  justify-content: center;
  text-decoration: none;
  margin: 170px 0px 0px -83.5px;
  color: white;
  box-shadow: rgba(0, 0, 0,.1) 0 2px 4
}

/* Digite seu ddd - texto - estilização*/
.baile h2{
  font-family: Arial;
    padding: 2px 0.5px 20px 2px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    background: fixed;
    color: white;
    font-weight: 2;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-bottom: -32px;
}